PRODUCT_NAME = $(TARGET_NAME)
WRAPPER_EXTENSION = app
COMBINE_HIDPI_IMAGES = YES
INFOPLIST_FILE = Resources/Info.plist
GCC_PRECOMPILE_PREFIX_HEADER = YES
GCC_PREFIX_HEADER = Source/Prefix.pch

LD_RUNPATH_SEARCH_PATHS = @executable_path/../Frameworks

ALWAYS_SEARCH_USER_PATHS = YES
USER_HEADER_SEARCH_PATHS = $(PROJECT_DIR)/lib/include $(PROJECT_DIR)/PLCrashReporter/Source/
FRAMEWORK_SEARCH_PATHS = $(inherited) $(PROJECT_DIR)/lib
LIBRARY_SEARCH_PATHS = $(inherited) $(PROJECT_DIR)/lib

CODE_SIGN_ENTITLEMENTS = Resources/Embrace.entitlements

